/* ============ËÑË÷±íµ¥============== */
div.globalsearchformzone{
padding:0px;
margin:0px;
height:41px;
background:url(../images/searchl.png) 0 0 no-repeat;
}


div.globalsearchformzone div.globalsearchform{
float:left;
padding:0 0 0 15px;
margin:0px;
height:41px;

}

div.globalsearchformzone div.globalsearchform1{
float:right;
padding:0px;
margin:0px;
line-height:39px;
}

div.globalsearchformzone div.globalsearchform .input{
border:0px;
height:39px;
padding:0px;
margin:0px;
background:transparent;
color:#505050;
width:310px;
font:16px/39px Verdana,microsoft yahei,Arial;
}

div.globalsearchformzone div.globalsearchform1 .imgbutton{
padding:0px;
margin:0px;
}